.app {
  display: grid;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: relative;
}

.app-header {
  display: none;
}

main {
  grid-row: 1;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.app-footer {
  display: none;
} 